/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    margin-top: 50px;
    margin-left: 10px;
}
a:hover { text-decoration: none }
.vedio-area-bg {
    background-image: url(../img/vedio-bg.jpg);
    background-color: #ddd;
    background-position: center;
    background-size: cover;
}

.check-icon li:before{font-family: fontAwesome;content:"\f00c" }


section {
}
.vedio-area {
    padding: 76px 0;
    position: relative;
}
.vedio-area-bg {
    box-shadow: 0 0 32px;
    height: 300px;
    left: 0;
    position: absolute;
    top: 0;
    width: 40%;
}
.vedio-area-bg {
}
.vedio-play-btn {
    background: black none repeat scroll 0 0;
    border-radius: 50%;
    font-size: 29px;
    height: 100px;
    line-height: 95px;
    margin-top: -50px;
    padding-left: 7px;
    position: absolute;
    right: -50px;
    text-align: center;
    top: 50%;
    width: 100px;
}
h3 {
}
h3 {
    color: #333;
}
ul.check-icon {
    color: #666;
    font-size: 16px;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.check-icon li {
    padding-left: 43px;
    position: relative;

}
.check-icon li::before {
    color: black;
    left: 0;
    position: absolute;
    top: 0;
}
section {
}
